<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hamburg</title>
    <style>
        .logo{
            width: 100%;
            height: 100x;
        }
        .gif{
            width: 100%;
        }
    </style>
</head>
<body style="background-color: blueviolet;">
    <h1>Hamburg</h1>
    <p>Hamburg; Low Saxon: Hamborg, officially the Free and Hanseatic City of Hamburg (German: Freie und Hansestadt Hamburg; Low Saxon: Friee un Hansestadt Hamborg), is the second-largest city in Germany after Berlin, as well as the overall 8th-largest city and largest non-capital city within the European Union with a population of over 1.85 million. Hamburg's urban area has a population of around 2.5 million and is part of the Hamburg Metropolitan Region, which has a population of over 5.1 million people in total.</p>
    <div class="hamburg"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/34/AlsterPanorama.jpg/1920px-AlsterPanorama.jpg" alt="Hamburg Center" style="width:100%"></div>
    <div class="logo">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/74/Flag_of_Hamburg.svg/1280px-Flag_of_Hamburg.svg.png" alt="official logo of hamburg" style="width:50%; height: 714.05px;">
        <img src="https://upload.wikimedia.org/wikipedia/commons/b/bb/Elbphilharmonie%2C_Hamburg.jpg" alt="unofficial logo of Hamburg" style="width:50%; float: right;">
    </div>
    <div class="gif">
        <p>Hamburg in winter</p>
        <img src="https://media.giphy.com/media/MLZ0nnZHQoTGo/giphy.gif" alt="Hamburg in winter" style="width:100%">
    </div>
</body>
</html>