<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>code_28</title>
    <style>
        .germany {
            width: 50%;
            border: 1px dotted #ccc;
        }
        .germany div {            
            height: 100px;
            width: 100%;
        }
    </style>

    
</head>
<!--Style
    -inline style
-->
<body style='background-color: coral;'>
    <h1>Hola</h1>
    <p>Welcome</p>
    <img src="https://picsum.photos/200/300" alt="">

    <div class="germany">
        <div style="background-color: black;"></div>
        <div style="background-color: red;"></div>
        <div style="background-color: yellow;"></div>
    </div>

    <!--Comment-->
</body>

</html>